body {
  margin: 0;
  padding: 0;
  background-color: black;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  line-height: 1.5;
  
}


body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

/*
  LARGEST OVERALL CONTAINER (EVERYTHING)
*/

main {
  position: absolute;
  z-index: 99;
  backdrop-filter: blur(2px);
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  
}

main>div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  flex-direction: column;
  align-content: center;
  z-index: 200;

  background-color: #ffffff;
}

/*
  HEADER
*/

header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

header>div {
  width: 80%;
}

header>img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  margin-bottom: 1rem;
}

header>div>h1 {
  font-size: 6rem;
  font-family: 'Noto Serif', serif;
  font-weight: 300;
  margin: 0;
}

header>div>p {
  font-size: 2rem;
  font-family: 'Noto Serif', serif;
  font-weight: 200;
  margin: 0;
}

/*
  Introductory Paragraph
*/

.img_section {
  margin-top: 0px;
  width: 80%;
  display: block;
}

.img_section>p {
  width: 100%;
  float: none;
}

.img_section>div {
  width: 37%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  float: right;
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

.img_section>div>img {
  width: 100%;
  object-fit: contain;
}

/*
  SECTIONS
*/

section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

h2 {
  font-size: 3.2rem;
  margin: 0;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}

/*
  Second Section Content
*/

section.with-images {
  flex-direction: column;
}

section>div.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

/*
  Images on right hand side of 2nd section content
*/

section>div.images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
  flex-wrap: wrap;
}

.images>card {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  width: 30%;
}

section>div>card>img {
  width: 100%;
  object-fit: contain;
}

/*
  Gallery
*/

.card-section>div {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.galaxy-card {
  width: 30%;
  max-height: 500px;
  text-align: center;
  margin-bottom: 2rem;
}

.galaxy-card>img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}


@media screen and (max-width: 500px) {
  main {
    position: absolute;
    z-index: 99;
    backdrop-filter: blur(2px);
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
  }

  /*
    Header
  */

  header>img {
    width: 100%;
    height: 10vh;
  }
  
  header>div>h1 {
    font-size: 3rem;
  }
  
  header>div>p {
    font-size: 1rem;
  }

  /*
    Introductory Paragraph
  */

  .img_section {
    margin-top: 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  
  .img_section>p {
    width: 100%;
  }
  
  .img_section>div {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  
  .img_section>div>img {
    width: 60%;
    object-fit: contain;
  }

  /*
    Sections
  */

  section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  h2 {
    font-size: 2rem;
    margin: 0;
  }
  
  h3 {
    font-size: 1rem;
    margin: 0;
  }

  /*
    Second Section Content
  */

  section.with-images {
    flex-direction: column;
  }

  section>div.content {
    width: 100%;
  }

  /*
    Images on right hand side of 2nd section content
  */

  section>div.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
    flex-wrap: wrap;
  }

  .images>card {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    width: 100%;
  }

  section>div>card>img {
    width: 100%;
    object-fit: contain;
  }

  /*
    Gallery
  */

  .galaxy-card {
    width: 100%;
    max-height: 500px;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .galaxy-card>img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }

}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  main {
    position: absolute;
    z-index: 99;
    backdrop-filter: blur(2px);
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
  }

  /*
    Header
  */

  header>img {
    width: 100%;
    height: 10vh;
  }
  
  header>div>h1 {
    font-size: 4rem;
  }
  
  header>div>p {
    font-size: 1rem;
  }

  /*
    Introductory Paragraph
  */

  .img_section {
    margin-top: 0px;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
  
  .img_section>p {
    width: 100%;
  }
  
  .img_section>div {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .img_section>div>img {
    width: 60%;
    object-fit: contain;
  }

  /*
    Sections
  */

  section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  h2 {
    font-size: 2rem;
    margin: 0;
  }
  
  h3 {
    font-size: 1rem;
    margin: 0;
  }

  /*
    Second Section Content
  */

  section.with-images {
    flex-direction: column;
  }

  section>div.content {
    width: 100%;
  }

  /*
    Images on right hand side of 2nd section content
  */

  section>div.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
    flex-wrap: wrap;
  }

  .images>card {
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    width: 100%;
  }

  section>div>card>img {
    width: 100%;
    object-fit: contain;
  }

  /*
    Gallery
  */

  .galaxy-card {
    width: 100%;
    max-height: 500px;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .galaxy-card>img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }

}