body {
  margin: 0;
  padding: 0;
  background-color: black;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  line-height: 1.5;
  
}


body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  z-index: 99;
  backdrop-filter: blur(2px);
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  
}

main>div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  flex-direction: column;
  align-content: center;
  z-index: 200;

  background-color: #ffffff;
}

header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

header>img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  margin-bottom: 1rem;
}

header>div {
  width: 80%;
}

header>div>h1 {
  font-size: 6rem;
  font-family: 'Noto Serif', serif;
  font-weight: 300;
  margin: 0;
}

header>div>p {
  font-size: 2rem;
  font-family: 'Noto Serif', serif;
  font-weight: 200;
  margin: 0;
}

section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

h2 {
  font-size: 3.2rem;
  margin: 0;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}

section.with-images {
  flex-direction: row;
}

section>div.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

section>div.images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  width: 20%;
}

section>div>card>img {
  width: 100%;
  object-fit: contain;
}

.img_section {
  margin-top: 0px;
  width: 80%;
  display: block;
}

.img_section>p {
  width: 100%;
  float: none;
}

.img_section>div {
  width: 30%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  float: right;
}

.img_section>div>img {
  width: 100%;
  object-fit: contain;
}

.card-section>div {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.galaxy-card {
  width: 30%;
  max-height: 500px;
  text-align: center;
  margin-bottom: 2rem;
}

.galaxy-card>img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}